@font-face {
    font-family: 'Game of Thrones';
    src: url('https://grokify.github.io/webfonts/game-of-thrones/GameofThrones.eot');
    src: url('https://grokify.github.io/webfonts/game-of-thrones/GameofThrones.eot?#iefix') format('embedded-opentype'),
        url('https://grokify.github.io/webfonts/game-of-thrones/GameofThrones.woff') format('woff'),
        url('https://grokify.github.io/webfonts/game-of-thrones/GameofThrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "Game of Thrones", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

div {
  font-family: "Game of Thrones", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

span {
  font-family: "Game of Thrones", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.Line_styles_root {
  font-family: "Game of Thrones", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 12px;
}

.Header_styles_label {
  font-family: "Game of Thrones", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.TextInput_styles_root input {
  font-family: "Game of Thrones", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.DialButton_styles_btnValue {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

nav.NavigationBar_styles_root {
  background: #000!important;
}

svg.DialerPanel_styles_dialBtn circle{
  fill: #333!important;
}

.DialButton_styles_btnSvgGroup:hover text {
  fill: #000!important;
}

.DropdownSelect_styles_selected {
  color: #000!important;
}

.DropdownSelect_styles_dropdownItem:hover {
  color: #000!important;
}

.CallIdSelect_styles_root label {
  font-size: 9px;
}

.Message_styles_alert {
  background: #000 !important;
  border-color: #000 !important;
  font-size: 12px;
  line-height: 20px;
}

.SettingsPanel_styles_eula {
  color: #000!important;
}

.DropdownNavigationItem_styles_root.DropdownNavigationItem_styles_active {
  color: #000!important;
}

.DropdownNavigationItem_styles_labelHolder {
  line-height: 23px!important;
  color: #000 !important;
}

.ContactDropdownList_styles_contactItem {
  font-size: 10px!important;
}

.ContactDropdownList_styles_dropdownList li.ContactDropdownList_styles_active {
  color: #000!important;
}

.ContactDropdownList_styles_dropdownList li.ContactDropdownList_styles_active .ContactDropdownList_styles_name {
  color: #000!important;
}

.RecipientsInput_styles_selectReceivers .RecipientsInput_styles_extension {
  background-color: #000!important;
}

.RecipientsInput_styles_selectReceivers .RecipientsInput_styles_phoneNumber {
  background-color: #000!important;
}

.RecipientsInput_styles_container label {
  font-size: 13px!important;
}

.ComposeTextPanel_styles_senderSelect label {
  color: #000!important;
  font-size: 10px;
}

.ComposeTextPanel_styles_submitButton {
  background-color: #000!important;
}

.CircleButton_styles_icon g {
  fill: #000 !important;
}

.CircleButton_styles_icon path {
  fill: #000 !important;
}

.CircleButton_styles_icon rect {
  fill: #000 !important;
}

.ActiveCallsPanel_styles_listTitle {
  font-size: 12px!important;
}

.ActiveCallBadge_styles_phoneBage {
  font-size: 8px !important;
  background: #000 !important;
}

.ConversationPanel_styles_submitButton {
  background: #000 !important;
}

.RegionSettingsPanel_styles_hint {
  font-size: 12px !important;
}

.RecipientsInput_styles_numberInput::placeholder {
  font-size: 11px!important;
}

.LoginPanel_styles_loginButton {
  background-color: #000!important;
}